
body {
  background-color: #add8e6 !important;
}

.navbar {
  background-color: #6c9aaf;
  padding: 10px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}


.nav-logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
}


.nav-link:hover {
  color: #ffdd57; 
}


.nav-item {
  display: flex ;
  align-items: center;
}

.nav-got {
  color: white;
  margin-left: 100;
}

.nav-got:hover {
  color: #ffdd57; 
}


@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-logo {
    margin-bottom: 10px;
  }
}


.par-1 {
  color: white;
  margin-top: 50px;
  border-left: 6px solid #6c9aaf;
  font-size: larger;
}


.par-2 {
  color: white;
  margin-top: 150px;
  margin-left: 1428px;
  border-right: 6px solid #6c9aaf;
  font-size: larger;
}




.par-1:hover {
  color: #ffdd57; 
}

.par-2:hover {
  color: #ffdd57; 
}

.par-3:hover {
  color: #ffdd57; 
}


.photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  
}


